/* 
00-RESET CSS
01-HEADER
02-MAIN
03-FOOTER
04-COLORS
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
  /*   border: 1px solid red;
 */
}
body {
  background-color: #f4f4f4;
}

/* _______________01-HEADER________________ */
header {
  margin-top: 100px;
  margin-bottom: 180px;
  text-align: center;
}
h1 {
  font-size: 90px;
}
/* _______________02-MAIN________________ */
main {
  width: 1132px;
  margin: 0 auto;
}

section > div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px 10px;
}
section {
  height: 240px;
}
#lastColoredSquare {
  height: 220px;
  margin-bottom: 0;
}
#lastSquare {
  margin-bottom: 180px;
}

#lastSquare > div {
  border: 8px solid black;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 180px;
}

/* _______________03-FOOTER________________ */
footer {
  height: 400px;
  background-color: black;
  color: white;
  font-size: 35px;
  padding: 350px;
  text-align: center;
}

/* 


 _______________04-COLORS________________ 


*/

/* COLOR RED  */
#r1 {
  background-color: rgba(255, 0, 0, 0.2);
}
#r2 {
  background-color: rgba(255, 0, 0, 0.4);
}
#r3 {
  background-color: rgba(255, 0, 0, 0.6);
}
#r4 {
  background-color: rgba(255, 0, 0, 0.8);
}
#r5 {
  background-color: rgba(255, 0, 0, 1);
}

/* COLOR ORANGE  */
#o1 {
  background-color: rgba(255, 166, 0, 0.2);
}
#o2 {
  background-color: rgba(255, 166, 0, 0.4);
}
#o3 {
  background-color: rgba(255, 166, 0, 0.6);
}
#o4 {
  background-color: rgba(255, 166, 0, 0.8);
}
#o5 {
  background-color: orange;
}

/* COLOR GREEN */
#g1 {
  background-color: rgba(0, 177, 0, 0.2);
}
#g2 {
  background-color: rgba(0, 177, 0, 0.4);
}
#g3 {
  background-color: rgba(0, 177, 0, 0.6);
}
#g4 {
  background-color: rgb(0, 177, 0, 0.8);
}
#g5 {
  background-color: green;
}

/* COLOR BLUE */
#b1 {
  background-color: rgba(0, 0, 255, 0.2);
}
#b2 {
  background-color: rgba(0, 0, 255, 0.4);
}
#b3 {
  background-color: rgba(0, 0, 255, 0.6);
}
#b4 {
  background-color: rgb(0, 0, 255, 0.8);
}
#b5 {
  background-color: blue;
}

/* COLOR BLACK */
#n1 {
  background-color: rgba(0, 0, 0, 0.2);
}
#n2 {
  background-color: rgba(0, 0, 0, 0.4);
}
#n3 {
  background-color: rgba(0, 0, 0, 0.6);
}
#n4 {
  background-color: rgb(0, 0, 0, 0.8);
}
#n5 {
  background-color: rgb(0, 0, 0);
}
